@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), 
  url('./styles/fonts/oswald/Oswald-Light.ttf') format('truetype'),
  url('./styles/fonts/oswald/Oswald-Light.woff') format('woff'),
  url('./styles/fonts/oswald/Oswald-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), 
  url('./styles/fonts/oswald/Oswald-Regular.ttf') format('truetype'),
  url('./styles/fonts/oswald/Oswald-Regular.woff') format('woff'),
  url('./styles/fonts/oswald/Oswald-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), 
  url('./styles/fonts/oswald/Oswald-Bold.ttf') format('truetype'),
  url('./styles/fonts/oswald/Oswald-Bold.woff') format('woff'),
  url('./styles/fonts/oswald/Oswald-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: 'Futura LtCn BT';
  src: url('./styles/fonts/futura/FuturaBT-LightCondensed.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-LightCondensed.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-LightCondensed.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-LightCondensed.svg#FuturaBT-LightCondensed') format('svg');
  font-weight: 300;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Futura';
  src: local('Futura'),
      url('./styles/fonts/futura/Futura-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Futura';
  src: url('./styles/fonts/futura/Futura-Bold_1.woff2') format('woff2'),
      url('./styles/fonts/futura/Futura-Bold_1.woff') format('woff'),
      url('./styles/fonts/futura/Futura-Bold_1.ttf') format('truetype'),
      url('./styles/fonts/futura/Futura-Bold_1.svg#Futura-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('./styles/fonts/futura/FuturaBT-MediumItalic.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-MediumItalic.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-MediumItalic.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-MediumItalic.svg#FuturaBT-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaHvBT';
  src: url('./styles/fonts/futura/FuturaBT-Heavy.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-Heavy.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-Heavy.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-Heavy.svg#FuturaBT-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url('./styles/fonts/futura/FuturaBT-Book.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-Book.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-Book.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMdBT';
  src: url('./styles/fonts/futura/FuturaBT-Medium.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-Medium.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-Medium.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura XBlk BT';
  src: url('./styles/fonts/futura/FuturaBT-ExtraBlack.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlack.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlack.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlack.svg#FuturaBT-ExtraBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url('./styles/fonts/futura/FuturaBT-BookItalic.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-BookItalic.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-BookItalic.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-BookItalic.svg#FuturaBT-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura MdCn BT';
  src: url('./styles/fonts/futura/FuturaBT-MediumCondensed.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-MediumCondensed.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-MediumCondensed.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-MediumCondensed.svg#FuturaBT-MediumCondensed') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura BdCn BT';
  src: url('./styles/fonts/futura/FuturaBT-BoldCondensed.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-BoldCondensed.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-BoldCondensed.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-BoldCondensed.svg#FuturaBT-BoldCondensed') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura XBlkCnIt BT';
  src: url('./styles/fonts/futura/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlackCondItalic.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlackCondItalic.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlackCondItalic.svg#FuturaBT-ExtraBlackCondItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Hv BT';
  src: url('./styles/fonts/futura/FuturaBT-HeavyItalic.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-HeavyItalic.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-HeavyItalic.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-HeavyItalic.svg#FuturaBT-HeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Lt BT';
  src: url('./styles/fonts/futura/FuturaBT-Light.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-Light.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-Light.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Lt BT';
  src: url('./styles/fonts/futura/FuturaBT-LightItalic.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-LightItalic.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-LightItalic.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-LightItalic.svg#FuturaBT-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('./styles/fonts/futura/FuturaBT-BoldItalic.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-BoldItalic.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-BoldItalic.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-BoldItalic.svg#FuturaBT-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura XBlk BT';
  src: url('./styles/fonts/futura/FuturaBT-ExtraBlack_1.woff2') format('woff2'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlack_1.woff') format('woff'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlack_1.ttf') format('truetype'),
      url('./styles/fonts/futura/FuturaBT-ExtraBlack_1.svg#FuturaBT-ExtraBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('./styles/fonts/futura/Futura-Black-Bold.woff2') format('woff2'),
      url('./styles/fonts/futura/Futura-Black-Bold.woff') format('woff'),
      url('./styles/fonts/futura/Futura-Black-Bold.ttf') format('truetype'),
      url('./styles/fonts/futura/Futura-Black-Bold.svg#Futura-Black-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('./styles/fonts/futura/Futura-CondensedLight.woff2') format('woff2'),
      url('./styles/fonts/futura/Futura-CondensedLight.woff') format('woff'),
      url('./styles/fonts/futura/Futura-CondensedLight.ttf') format('truetype'),
      url('./styles/fonts/futura/Futura-CondensedLight.svg#Futura-CondensedLight') format('svg');
  font-weight: 300;
  font-style: normal;
} */


body {
  margin: 0;
  font-family: "Futura", "Roboto",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  padding: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}